
.cust-profile {
	font-size: 250px;
}

.checkbox-left {
	width: 10%;
	text-align: left;
}

.header {
	color: #000;
	font-style: normal;
	text-align: center;
}

.list-group {
	font-size: medium;
}

hr {
	border: 0;
	height: 1px;
	background: #333;
}

.project-body {
	color: #000;
	font-style: normal;
}

.project-body p {
	font-size: medium;
}


