<section data-ng-controller="MessagesController">
    <h3>Message Inbox</h3>
    <div data-ng-show="errorMessage" class="text-center text-danger">
        <div class="alert alert-danger" role="alert">
            <strong data-ng-bind="errorMessage"></strong>
        </div>

    </div>
        <accordion>
            <accordion-group heading="{{message.messageSubject}} from {{message.userFrom}}" ng-repeat="message in messages" >
                <small><span data-ng-bind="message.dateSent | date:'medium'"></span></small>
                <div class="container-fluid">{{message.messageBody}}</div>
            </accordion-group>
        </accordion>

</section>
