<section data-ng-controller="MessagesController" ng-init="getMessageList()">
    <h3>Message Inbox</h3>
    <div data-ng-show="errorMessage" class="text-center text-danger">
        <div class="alert alert-danger" role="alert">
            <strong data-ng-bind="errorMessage"></strong>
        </div>

    </div>
    <div class="list-group">
        <a href="/#!/messages/inbox/{{message._id}}" class="list-group-item" ng-repeat="message in messages">
            <span ng-bind="message.messageSubject" style="float:left;width:200px;"></span>
            <span ng-bind="message.userFrom" style="display: inline-block;margin:0 auto;width:100px;"></span>
            <small><span ng-bind="message.dateSent | date: medium" style="float:right;width:100px;"></span></small>
        </a>
    </div>
</section>
