<section data-ng-controller="ProjectsController" data-ng-init="getSelectedProject()">
    <div class="page-header">
        <h1>Edit Project</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="project.title" id="title" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <textarea class="form-control" data-ng-model="project.description" id="description" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="industry">Industry</label>
                    <div class="controls">
                        <input type="text" data-ng-model="project.industry" id="industry" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="referred">Referred</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="project.referred" id="referred" class="form- checkbox-left">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="tags">Tags</label>
                    <div class="controls">
                        <textarea class="form-control" data-ng-model="project.tags" id="tags" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="location">Location</label>
                    <div class="controls">
                        <textarea class="form-control" data-ng-model="project.location" id="location"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
