<section data-ng-controller="ProjectsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Projects</h1>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" ng-model="searchText" placeholder="search...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div><!-- /input-group -->
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
            <a href="/#!/projects/create">
            <button type="button" class="btn btn-success text-center">
                <i class="glyphicon glyphicon-folder-open"></i> <br>
                New Project
            </button>
            </a>
        </div>
    </div>
    <hr>
    </br>

    <div class="list-group">
        <div class="col-xs-6 col-sm-4" data-ng-repeat="project in projects | filter:searchText" ng-init="getVoteCounts(project)">
            <div class="well">
                <div>
                    <button type="button" ng-click="vote(1, project)" class="btn btn-success btn-xs active">
                        <i class="glyphicon glyphicon-arrow-up"></i>
                        {{project.upCount}}
                    </button>
                </div>
                <div>
                    <button type="button" ng-click="vote(-1, project)"class="btn btn-danger btn-xs active">
                        <i class="glyphicon glyphicon-arrow-down"></i>
                        {{project.downCount}}
                    </button>
                </div>
            </div>
            <a  data-ng-href="#!/projects/{{project._id}}" class="list-group-item">
                <h4 class="cust-list text-center">
                    <!--<i class="glyphicon glyphicon-folder-open cust-list"></i>-->
                    <img ng-src="/projects/img/{{project._id}}" width="300" height="100"/>
                    
                </h4>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <h4>{{project.title}} {{project.description}} </h4>
                        <small class="list-group-item-text text-muted">
                            <span data-ng-bind="project.created | date:'medium'"></span>
                        </small>
                    </div>
                </div>
            </a>
           
        </div>
    </div>


    <div class="alert alert-warning text-center" data-ng-hide="!projects.$resolved || projects.length">
    	No Projects yet, why don't you <a href="/#!/projects/create">create one</a>?
    </div>
</section>

<section data-ng-controller="ProjectsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Recommended Projects</h1>
    </div>
    <hr>
    <div class="list-group">
        <div class="col-xs-6 col-sm-4" data-ng-repeat="project in projects | filter:authentication.user.interests">
            <button type="button" ng-click="vote(1, project)" class="btn btn-success btn-xs active">Up</button>
            <button type="button" ng-click="vote(-1, project)"class="btn btn-danger btn-xs active">Down</button>

            <a  data-ng-href="#!/projects/{{project._id}}" class="list-group-item">
                <h4 class="cust-list text-center">
                    <i class="glyphicon glyphicon-folder-open cust-list"></i>

                </h4>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <h4>{{project.title}} {{project.description}} </h4>
                        <small class="list-group-item-text text-muted">
                            <span data-ng-bind="project.created | date:'medium'"></span>
                        </small>
                    </div>
                </div>
            </a>

        </div>
    </div>
</section>
