<section data-ng-controller="ProjectsController" data-ng-init="getSelectedProject()">
	<div class="page-header">
		<h1 data-ng-bind="project.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == project.user._id))">
		<a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

	<small>
		<em class="text-muted">
			<div class="header">
				<h1>Project Name:
					<span data-ng-bind="project.title"></span>
				</h1>
				Posted on
				<span data-ng-bind="project.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="project.user.displayName"></span>
			</div>

			<hr>

			<div class="project-body">
				<h3>Project Description: </h3>
				<p><span data-ng-bind="project.description"></span></p>
				<h3>Target Industry:</h3>
				<p><span data-ng-bind="project.industry"></span></p>
			</div>
		</em>
	</small>
</section>
