<head>
    <style>
        #tags{
            float:left;
            border:1px solid #ccc;
            padding:5px;
            font-family:Arial;
        }
        #tags span.tag{
            cursor:pointer;
            display:block;
            float:left;
            color:#fff;
            background:#689;
            padding:5px;
            padding-right:25px;
            margin:4px;
        }
        #tags span.tag:hover{
            opacity:0.7;
        }
        #tags input{
            background:#eee;
            border:0;
            margin:4px;
            padding:7px;
            width:auto;
        }
    </style>
</head>
<section data-ng-controller="ProjectsController" data-ng-init="getSelectedProject()">
	<div class="page-header">
		<h1 data-ng-bind="project.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == project.user._id))">
		<a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

	<small>
		<em class="text-muted">
			<div class="header">
                <img ng-src="/projects/img/{{project._id}}/logo.jpg" width="300" height="100"/>
				<h1>
					<span data-ng-bind="project.title"></span>
				</h1>
				Posted on
				<span data-ng-bind="project.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="project.user.displayName"></span>
                <!-- BEGIN MODAL CODE -->
                <div ng-controller="MessagesController">
                    <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header"><h2>Contact Project Owner</h2></div>
                    <div class="modal-body">
                        <form role="form" name="messageForm" data-ng-submit="contactOwner()">
                            <div class="form-group">
                                <label for="messageSubject">Message Subject: </label>
                                <input type="text" required id="messageSubject" name="messageSubject" class="form-control" data-ng-model="message.messageSubject">
                            </div>
                            <div class="form-group">
                                <label for="messageBody">Message Body:</label>
                                <textarea class="form-control" rows="5" id="messageBody" data-ng-model="message.messageBody"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary" >Send</button>
                        </form>
                        <div data-ng-show="errorMessage" class="text-center text-danger">
                            <div class="alert alert-danger" role="alert">
                                <strong data-ng-bind="errorMessage"></strong>
                            </div>
                        </div>
                    </div>
                    </script>
                    <button class="btn btn-sm btn-default" ng-click="open()" ng-show="((authentication.user))"><span class="glyphicon glyphicon-envelope"></span> Contact Project Owner</button>
                </div>
                <!-- END MODAL CODE -->
			</div>

			<hr>

			<div class="project-body">
				<h3>Project Description: </h3>
				<p><span data-ng-bind="project.description"></span></p>
				<h3>Target Industry:</h3>
				<p><span data-ng-bind="project.industry"></span></p>
                <h3>Location</h3>
                <p><span data-ng-bind="project.location"></span></p>
                <h3>Tags</h3>
                <div id="tags">
                    <span class="tag" ng-repeat="item in project.tags.split(' ') track by $index">{{item}}</span>
                </div>
			</div>
		</em>
	</small>
    <div data-ng-controller="CommentController" data-ng-init="getComments()">
        <br><br><h3>Comments:</h3>
        <div class="list-group">
            <li class="list-group-item" ng-repeat="comment in comments">
                <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user.username == comment.author))">
                    <a class="btn btn-primary" data-ng-click="remove($index)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
                <p class="list-group-item-text comment-body">{{comment.message}}</p>
                <p class="list-group-item-text comment-author">by {{comment.author}} on <span data-ng-bind="comment.date | date:'medium'"></span></p>
            </li>
        </div>
        <form role="form" name="commentForm" data-ng-submit="sendComment()">
            <div class="form-group">
                <label for="message">Add Comments:</label>
                <textarea class="form-control" rows="5" id="message" data-ng-model= "comment.message"></textarea>
                <script>
                    console.log('a');
                    console.log(project._id);
                </script>
            </div>
            <div class="text-right form-group">
                <button type="submit" class="btn btn-success">Add Comment</button>
            </div>
        </form>
    </div>
</section>
