<section data-ng-controller="ProjectsController" data-ng-init="getSelectedProject()">
	<div class="page-header">
		<h1 data-ng-bind="project.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == project.user._id))">
		<a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

	<small>
		<em class="text-muted">
			<div class="header">
				<h1>Project Name:
					<span data-ng-bind="project.title"></span>
				</h1>
				Posted on
				<span data-ng-bind="project.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="project.user.displayName"></span>
			</div>

			<hr>

			<div class="project-body">
				<h3>Project Description: </h3>
				<p><span data-ng-bind="project.description"></span></p>
				<h3>Target Industry:</h3>
				<p><span data-ng-bind="project.industry"></span></p>
			</div>
		</em>
	</small>
    <div data-ng-controller="CommentController" data-ng-init="getComments()">
        <br><br><h3>Comments:</h3>
        <div class="list-group">
            <li class="list-group-item" ng-repeat="comment in comments">
                <p class="list-group-item-text comment-body">{{comment.message}}</p>
                <p class="list-group-item-text comment-author">by {{comment.author}}</p>
            </li>
        </div>
        <form role="form" name="commentForm" data-ng-submit="sendComment()">
            <div class="form-group">
                <label for="message">Message Body:</label>
                <textarea class="form-control" rows="5" id="message" data-ng-model= "comment.message"></textarea>
                <script>
                    console.log('a');
                    console.log(project._id);
                </script>
            </div>
            <div class="text-right form-group">
                <button type="submit" class="btn btn-success">Add Comment</button>
            </div>
        </form>
    </div>
</section>
